body{
    background-color: darkgreen;
}

h1{
    text-align: center;
    color: white;
}

p{
    text-align: center;
    color: white;
}

.form-container1{
    display: flex;
    margin: auto;
    width: 25%;
}

.form-container2{
    display: flex;
    margin: auto;
    width: 17%;
}

.submitButton{
    background-color: goldenrod;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.submitButton:hover{
    background-color: yellow;
}

.submitButton:active{
    background-color: yellow;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button-container{
    display: flex;
    margin: auto;
    width: 20%;
}

.adminbutton{
    background-color: goldenrod;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.adminbutton:hover{
    background-color: yellow;
}

.adminbutton:active{
    background-color: yellow;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.nameLabel{
    color: white;
}

.sort{
    color:white;
}

.semLabel{
    color: white;
}

.yearLabel{
    color: white;
}