{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel ="stylesheet" href ="{% static 'results.css' %}">
</head>
<body>

<h1>You are in the Instructor Query Results Page for the Course List feature</h1>
<table style="width:400px">
    
    <thead>
        <tr>
            <th scope="col">Course ID</th>
            <th scope="col">Section ID</th>
            <th scope="col">Student Count</th>
        </tr>
    </thead>

    <tbody>
    {% for r in rows%}
       <tr>
           <th>{{r.course_id}}</th>
           <th>{{r.sec_id}}</th>
           <th>{{r.studentCount}}</th>
       </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>