{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel ="stylesheet" href ="{% static 'student.css' %}">
</head>
<body>

<h1>You are in the Student View</h1>
<p>Please select the Department, Year, and Semester you would like to view a class list for.
  <br>For semester, select 01 for Fall and 02 for Spring.
</p>

<div class = "form-container">
<form action="{% url 'StudentResults' %}" method="post">
{% csrf_token %}
  <label for="department" class = "deptLabel">Department</label>
  <select id = "department" name = "department">
    <option value = "AC">AC</option>
    <option value = "AE">AE</option>
    <option value = "BY">BY</option>
    <option value = "CEE">CEE</option>
    <option value = "CHE">CHE</option>
    <option value = "COMM">COMM</option>
    <option value = "CS">CS</option>
    <option value = "CSE">CSE</option>
    <option value = "DA">DA</option>
    <option value = "ECE">ECE</option>
    <option value = "EE">EE</option>
    <option value = "EM">EM</option>
    <option value = "ES">ES</option>
    <option value = "HIST">HIST</option>
    <option value = "HSS">HSS</option>
    <option value = "IA">IA</option>
    <option value = "LAW">LAW</option>
    <option value = "MA">MA</option>
    <option value = "ME">ME</option>
    <option value = "MK">MK</option>
    <option value = "OIS">OIS</option>
    <option value = "PH">PH</option>
    <option value = "PY">PY</option>
    <option value = "SE">SE</option>
  </select>
  <label for="year" class="yearLabel">Year</label>
  <select id = "year" name = "year">
    <option value = "2019">2019</option>
    <option value = "2020">2020</option>
  </select>
  <label for="semseter" class = "semLabel">Semester</label>
  <select id = "semester" name = "semester">
    <option value = "01">01</option>
    <option value = "02">02</option>
  </select>
  <input type="submit" value="Submit" class = "submitButton">
</form>
</div>
</body>
</html>